<form action="enviado" method="post">
    <fieldset>
        <label for="nameButton">Nome</label>
        <input type="text" name="nameButton" id="nameButton">
        <label for="ageButton">Idade</label>
        <input type="text" name="ageButton" id="ageButton">
        <input type="submit" value="Cadastrar">
    </fieldset>
</form>